* {
  font-family: Helvetica, Arial, sans-serif;  
}

body{
  padding: 70px;
}

input{
  color:gray;
  font-size: 1.2rem;
  width: 100%;
}

.card-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card{
  align-content: center;
  border: 1 px, solid grey;
  border-radius: 10px;
  margin-bottom: 25px;
  margin-right: 25px;
  border:red 2px solid;
  overflow: hidden;
}

.card p{
  padding: 5px;
  text-align: center;
}

.card img{
  max-height: 170px;
}